WebContent/wsdl/PersonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.gudimella.lavanya.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.gudimella.lavanya.com" xmlns:intf="http://service.gudimella.lavanya.com" xmlns:tns1="http://dto.gudimella.lavanya.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.gudimella.lavanya.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.gudimella.lavanya.com"/>
   <element name="getAllPersons">
    <complexType/>
   </element>
   <element name="getAllPersonsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPersonsReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="savePerson">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="savePersonResponse">
    <complexType/>
   </element>
   <element name="updatePerson">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="updatePersonResponse">
    <complexType/>
   </element>
   <element name="deletePerson">
    <complexType>
     <sequence>
      <element name="person" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePersonResponse">
    <complexType/>
   </element>
   <element name="getPersonById">
    <complexType>
     <sequence>
      <element name="person_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPersonByIdResponse">
    <complexType>
     <sequence>
      <element name="getPersonByIdReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByEmail">
    <complexType>
     <sequence>
      <element name="email_address" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByEmailResponse">
    <complexType>
     <sequence>
      <element name="findByEmailReturn" type="tns1:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="findUser">
    <complexType>
     <sequence>
      <element name="email_address" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findUserResponse">
    <complexType>
     <sequence>
      <element name="findUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.gudimella.lavanya.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Person">
    <sequence>
     <element name="account_details" nillable="true" type="xsd:string"/>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="bank_name" nillable="true" type="xsd:string"/>
     <element name="city" nillable="true" type="xsd:string"/>
     <element name="country" nillable="true" type="xsd:string"/>
     <element name="email_address" nillable="true" type="xsd:string"/>
     <element name="first_name" nillable="true" type="xsd:string"/>
     <element name="gender" nillable="true" type="xsd:string"/>
     <element name="last_name" nillable="true" type="xsd:string"/>
     <element name="middle_name" nillable="true" type="xsd:string"/>
     <element name="person_id" type="xsd:int"/>
     <element name="phone_number" nillable="true" type="xsd:string"/>
     <element name="ssn_number" nillable="true" type="xsd:string"/>
     <element name="state" nillable="true" type="xsd:string"/>
     <element name="zipcode" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPersonByIdResponse">

      <wsdl:part element="impl:getPersonByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsRequest">

      <wsdl:part element="impl:getAllPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="savePersonResponse">

      <wsdl:part element="impl:savePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailResponse">

      <wsdl:part element="impl:findByEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPersonByIdRequest">

      <wsdl:part element="impl:getPersonById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findUserRequest">

      <wsdl:part element="impl:findUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsResponse">

      <wsdl:part element="impl:getAllPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonRequest">

      <wsdl:part element="impl:updatePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePersonRequest">

      <wsdl:part element="impl:deletePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailRequest">

      <wsdl:part element="impl:findByEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="savePersonRequest">

      <wsdl:part element="impl:savePerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updatePersonResponse">

      <wsdl:part element="impl:updatePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findUserResponse">

      <wsdl:part element="impl:findUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePersonResponse">

      <wsdl:part element="impl:deletePersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonService">

      <wsdl:operation name="getAllPersons">

         <wsdl:input message="impl:getAllPersonsRequest" name="getAllPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPersonsResponse" name="getAllPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="savePerson">

         <wsdl:input message="impl:savePersonRequest" name="savePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:savePersonResponse" name="savePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdl:input message="impl:updatePersonRequest" name="updatePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:updatePersonResponse" name="updatePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePerson">

         <wsdl:input message="impl:deletePersonRequest" name="deletePersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePersonResponse" name="deletePersonResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersonById">

         <wsdl:input message="impl:getPersonByIdRequest" name="getPersonByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPersonByIdResponse" name="getPersonByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdl:input message="impl:findByEmailRequest" name="findByEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByEmailResponse" name="findByEmailResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findUser">

         <wsdl:input message="impl:findUserRequest" name="findUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:findUserResponse" name="findUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonServiceSoapBinding" type="impl:PersonService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="savePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="savePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="savePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updatePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updatePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updatePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPersonById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPersonByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPersonByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonServiceService">

      <wsdl:port binding="impl:PersonServiceSoapBinding" name="PersonService">

         <wsdlsoap:address location="http://localhost:8080/SOAP-WebService-Person/services/PersonService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
